[package]
name = "kolme-store"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow.workspace = true
enum_dispatch = { workspace = true }
fjall.workspace = true
merkle-map.workspace = true
serde.workspace = true
serde_json.workspace = true
smallvec.workspace = true
sqlx = { workspace = true, features = [
  "macros",
  "migrate",
  "postgres",
  "runtime-tokio",
  "tls-rustls",
] }
thiserror = { workspace = true }
tokio.workspace = true
tracing = { workspace = true }

[dev-dependencies]
quickcheck.workspace = true

[lints]
workspace = true
