[package]
name = "shared"
version = "0.1.0"
authors = ["FP Complete", "Michael Snoyman <msnoyman@fpcomplete.com>"]
edition = "2021"
license = "MIT"

[dependencies]
chacha20poly1305 = { workspace = true, optional = true }
borsh = { workspace = true, features = ["derive"], optional = true }
cosmwasm-std = { workspace = true, optional = true }
cw-storage-plus = { workspace = true, optional = true }
hkdf = { workspace = true, optional = true }
hex = { workspace = true, optional = true }
k256 = { workspace = true, features = ["ecdsa", "ecdh", "serde", "sha256"], optional = true }
rand = { workspace = true, optional = true }
serde = { workspace = true }
sha2 = { workspace = true, optional = true }
thiserror = { workspace = true }

[features]
chaincryptography = []
cosmwasm = ["dep:cosmwasm-std", "dep:cw-storage-plus"]
realcryptography = [
  "borsh?/std",
  "dep:chacha20poly1305",
  "dep:hex",
  "dep:hkdf",
  "dep:k256",
  "dep:rand",
  "dep:sha2",
]
solana = ["dep:borsh", "dep:hex"]

[lints]
workspace = true
