[package]
name = "kolme"
version = "0.1.0"
authors = ["FP Complete", "Michael Snoyman <msnoyman@fpcomplete.com>"]
edition = "2021"
license = "MIT"
resolver = "2"

[dependencies]
anyhow = { workspace = true }
axum = { workspace = true, features = ["ws"] }
base64 = { workspace = true }
borsh = { workspace = true }
futures-util = { workspace = true }
hex.workspace = true
jiff = { workspace = true }
kolme-store.workspace = true
lru.workspace = true
merkle-map = { workspace = true }
parking_lot = { workspace = true }
reqwest = { workspace = true, features = [
  "brotli",
  "deflate",
  "gzip",
  "http2",
  "json",
  "rustls-tls-webpki-roots",
] }
rust_decimal = { workspace = true, features = ["macros"] }
serde = { workspace = true }
serde_json = { workspace = true }
shared = { workspace = true, features = ["realcryptography"] }
smallvec = { workspace = true }
strum = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tokio-tungstenite = { workspace = true }
tower-http = { workspace = true, features = ["cors"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

# Solana
kolme-solana-bridge-client = { workspace = true, optional = true }
solana-account = { workspace = true, optional = true }
solana-client = { workspace = true, optional = true }
solana-commitment-config = { workspace = true, optional = true }
solana-hash = { workspace = true, optional = true }
solana-pubkey = { workspace = true, optional = true }
solana-rpc-client = { workspace = true, optional = true }
solana-rpc-client-api = { workspace = true, optional = true }
solana-signature = { workspace = true, optional = true }
solana-transaction-status-client-types = { workspace = true, optional = true }

# CosmWasm
cosmos = { workspace = true, features = ["config"], optional = true }
cosmwasm-std = { workspace = true, optional = true }
absurd-future = { workspace = true }
version-compare = { workspace = true }

# Ethereum
alloy = { workspace = true }

[dev-dependencies]
kademlia-discovery = { workspace = true }
kolme-test = { workspace = true }
quickcheck = { workspace = true }
sqlx = { workspace = true }
tempfile = { workspace = true }

[features]
pass_through = []
cosmwasm = ["dep:cosmos", "dep:cosmwasm-std", "shared/cosmwasm"]
solana = [
  "dep:solana-account", "dep:solana-client", "dep:solana-commitment-config",
  "dep:solana-hash", "dep:solana-signature", "dep:solana-pubkey",
  "dep:solana-rpc-client", "dep:solana-rpc-client-api",
  "dep:solana-transaction-status-client-types", "dep:kolme-solana-bridge-client",
  "shared/solana"
]

[lints]
workspace = true
