[package]
name = "benchmarks"
version = "0.1.0"
authors = ["FP Complete", "Michael Snoyman <msnoyman@fpcomplete.com>"]
edition = "2021"
license = "MIT"

[[bin]]
name = "generate_benchmark_artifacts"
required-features = ["artifacts"]

[[bench]]
harness = false
name = "insertion"

[dependencies]
anyhow = { workspace = true }
kolme = { workspace = true, features = ["pass_through"] }
plotters = { workspace = true, optional = true }
plotters-svg = { workspace = true, optional = true }
regex = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
criterion = { workspace = true, features = ["async_tokio"] }
example-six-sigma = { workspace = true }
example-solana-cosmos-bridge = { workspace = true }
fjall.workspace = true
jiff = { workspace = true }
merkle-map.workspace = true
parking_lot = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
smallvec.workspace = true
sqlx = { workspace = true, features = ["postgres", "runtime-tokio"] }
tempdir = { workspace = true }
kolme-store = { workspace = true }
lru = { workspace = true }

[features]
artifacts = ["dep:plotters", "dep:plotters-svg", "dep:regex"]

[lints]
workspace = true
