[package]
name = "integration-tests"
version = "0.1.0"
authors = ["FP Complete", "Michael Snoyman <msnoyman@fpcomplete.com>"]
edition = "2021"
license = "MIT"

[dependencies]
anyhow = { workspace = true }
cosmos = { workspace = true }
kolme = { workspace = true, features = ["cosmwasm", "solana", "ethereum", "pass_through"] }
kolme-solana-bridge-client = { workspace = true }
solana-loader-v3-interface = "5.0.0"
reqwest = { workspace = true, features = ["json"] }
rust_decimal = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
shared = { workspace = true, features = ["cosmwasm", "realcryptography"] }
solana-client = { workspace = true }
solana-commitment-config = { workspace = true }
solana-signature = { workspace = true }
spl-token-client = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
absurd-future = { workspace = true }

[dev-dependencies]
axum = { workspace = true, features = ["ws"] }
backon = { workspace = true }
cosmwasm-std = { workspace = true }
example-six-sigma = { workspace = true }
example-solana-cosmos-bridge = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
hex = { workspace = true }
jiff = { workspace = true }
pretty_assertions = { workspace = true }
rand = { workspace = true }
sqlx = { workspace = true }
strum = { workspace = true, features = ["derive"] }
tempfile = { workspace = true }
tokio-tungstenite = { workspace = true }

[lints]
workspace = true
